@{
    ViewData["Title"] = "Svarsformulär";
}

<partial name="../Shared/_formAbout.cshtml" />

<div id="text-container">
    <a asp-controller="Form" asp-action="Questionaire">Fortsätt till frågeformuläret</a>
</div>

<partial name="../Shared/_formDisclaimer.cshtml" />