<div id="container-info">
    <p>Detta formulär utgör en enkät för att fastställa personers inställning till robotar och deras rätt i samhället.</p>

    <p>Svara så sanningsenligt som möjligt.</p>
</div>